In [7]:
!git status

On branch preprocess
Your branch is up to date with 'origin/preprocess'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	./

nothing added to commit but untracked files present (use "git add" to track)

In [52]:
#Add the packages and libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [22]:
df = pd.read_csv("/home/laura/code/Habeus-Crimpus/dt_proj/data/data.csv", delimiter = '\t')

In [26]:
!pwd

1762.09s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

/home/laura/code/Habeus-Crimpus/dt_proj/notebooks

In [45]:
df["country"].value_counts()

country
US    9252
GB    2810
CA    1213
AU     760
FI     274
      ...
MZ       1
DZ       1
LR       1
GY       1
OM       1
Name: count, Length: 142, dtype: int64

General prerequisites

#üë• Duplicates

(2) üîÆ Missing data

(3) üê≥ Outliers

Numerical columns

(4) üî¢ Scaling

In [29]:
df.duplicated().sum()

21

In [34]:
#Dropped duplicates and isnull
data_wo_dup = df.drop_duplicates()
data_wo_na = data_wo_dup.dropna()

In [36]:
#Dropped column source
df_afterremove = data_wo_na.drop("source", axis=1)

In [56]:
#Converted the country colum and scaled the whole dataset
df_afterremove['US_resident'] = np.where(df_afterremove["country"]== "US", 1,0)
df_final = df_afterremove.drop("country",axis=1)
scaler = StandardScaler()
df_final_scaled = scaler.fit_transform(df_final)
df_final_final = pd.DataFrame(df_final_scaled)

In [57]:
df_final_final

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,-0.186255,0.412763,0.529501,0.419613,0.327703,0.275552,-0.433566,-0.128035,-0.074297,-1.106144,...,0.646899,0.292475,-0.253412,0.251134,0.848205,0.319654,0.961379,0.876506,-1.016818,-1.016818
1,-2.266195,-1.950770,1.359641,-1.262265,-1.192735,-2.079340,-2.734900,-0.932134,-1.076446,-1.978282,...,-1.799539,-1.239593,2.114214,0.251134,-1.580897,1.011636,0.277487,-0.577455,0.983460,0.983460
2,-1.226225,-0.375081,-0.300640,1.260553,-1.952954,-2.079340,0.717101,1.480164,-1.076446,-1.106144,...,1.462378,0.292475,-1.042621,-0.610920,-1.580897,-1.064308,0.277487,-1.304436,0.983460,0.983460
3,0.853716,1.200607,0.529501,1.260553,1.087922,1.060515,0.717101,1.480164,0.927853,1.510268,...,-1.799539,1.824543,-0.253412,1.113188,1.657905,1.011636,-1.090298,1.603487,-1.016818,-1.016818
4,-0.186255,0.412763,-1.130780,1.260553,1.087922,1.060515,-0.433566,-1.736233,-0.074297,-0.234007,...,1.462378,0.292475,-1.042621,0.251134,0.038504,1.011636,0.961379,-1.304436,-1.016818,-1.016818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18164,-3.306166,1.200607,-1.130780,0.419613,0.327703,1.060515,-0.433566,-0.128035,0.927853,0.638131,...,-0.168581,0.292475,0.535797,1.113188,0.038504,-1.064308,0.277487,0.149525,0.983460,0.983460
18165,0.853716,0.412763,1.359641,0.419613,1.087922,0.275552,0.717101,0.676065,0.927853,0.638131,...,-0.984060,-0.473559,-1.042621,1.113188,-0.771196,-1.064308,0.277487,0.876506,-1.016818,-1.016818
18166,-0.186255,-0.375081,-0.300640,0.419613,-1.192735,-0.509412,-0.433566,-0.128035,-0.074297,-0.234007,...,1.462378,0.292475,-1.042621,-2.335029,-1.580897,-1.064308,0.961379,-1.304436,0.983460,0.983460
18167,0.853716,0.412763,-0.300640,-0.421326,0.327703,0.275552,-0.433566,-0.128035,-0.074297,-0.234007,...,-0.168581,0.292475,1.325005,0.251134,0.038504,0.319654,-1.090298,0.149525,-1.016818,-1.016818
18168,-0.186255,0.412763,0.529501,1.260553,-0.432516,0.275552,-0.433566,-0.128035,-1.076446,-0.234007,...,-0.168581,0.292475,-0.253412,0.251134,0.038504,-0.372327,0.961379,0.876506,0.983460,0.983460

In [49]:
df_afterremove.head()

,M1,M2,M3,M4,M5,M6,M7,M8,M9,N1,...,P2,P3,P4,P5,P6,P7,P8,P9,country,US_citizen
0,4,4,4,4,4,4,4,3,4,2,...,4,3,2,4,4,4,4,4,GB,0
1,2,1,5,2,2,1,2,2,3,1,...,1,1,5,4,1,5,3,2,US,1
2,3,3,3,5,1,1,5,5,3,2,...,5,3,1,3,1,2,3,1,US,1
3,5,5,4,5,5,5,5,5,5,5,...,1,5,2,5,5,5,1,5,GB,0
4,4,4,2,5,5,5,4,1,4,3,...,5,3,1,4,3,5,4,1,GB,0